.header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: 2px solid black;
}
.nav-items > ul{
    list-style-type: none;
    display: flex;
}
.nav-items > ul > li {
padding: 10px;
}
.logo {
    width:100px;
}
.card {
    width: 200px;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    height: 400px;
}
.card > img {
    width: 100%;
}
.cardss {
    width: 200px;
    padding: 10px;
    margin: 10px;
}
.restuarant-list {
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card {
    width: 200px;
    margin: 20px;
    background: lightgray;
    height: 300px;
}
.menu {
    display: flex;
}